@keyframes slideInRightToLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes progress {
  from {width: 0;}
  to {width: 100%;}
}

.toast {
  min-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  opacity: 1;
  animation: slideInRightToLeft 0.1s ease-out forwards; 
}

.toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  color: black;
}

.toast-body {
  padding: 0rem !important;
  color: #fff; 
}

.btn-close {
  padding: 0.25rem 0.75rem;
}

.toast-header .me-2 {
  font-size: 1.5rem;
}

.bg-success {
  background-color: #198754 !important; 
}

.bg-danger {
  background-color: #dc3545 !important; 
}
.toast-progress {
  height: 5px;
  background-color: #fff; /* Progress bar color */
  animation: progress linear forwards; 
  animation-play-state: running; 
}

.toast:hover .toast-progress {
  animation-play-state: paused; /* Pause animation on hover */
}
