.vh-100 {
    height: 100vh;
  }
  
  
  /* Right section (Login Form) card styling */
  
  h2 {
    margin-bottom: 0px;
  }
  
  .greyed {
    color: gray;
  }
  .login-look {
    
  }
  .login-look .header-background {
    /* background: url(../../../assets/images/login-bg.png) no-repeat rgba(0,0,0,0); */
    background-size: cover;
    min-height: 300px;
    padding: 30px 0;
  }
  .login-look .login-box {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 30px;
  }
  .login-look .content-keeper img.logo {
    max-width: 200px;
  }
  /* .login-look .content-keeper .co-info {
   
  } */
  .login-look .content-keeper .co-info h1, .login-look .content-keeper .co-info p {
    color: #ffffff !important;
  }
  .login-look .content-keeper .co-info h1 {
    font-size: 32px;
    margin-top: 50px;
  }
  .login-look .content-keeper .co-info p {
    font-size: 16px;
    max-width: 600px;
  }
  .border-box {
  
  }
  .login-look .btn:disabled, .login-look .btn, .login-look .btn:hover, .login-look .btn:active {
    background-color: #2727D5;
    border-color: #2727D5;
    color: #ffffff;
  }
  .did-you-know .header-bg {
    background: transparent linear-gradient(90deg, #E87422 0%, #CB212F 100%) 0% 0% no-repeat padding-box;
    position: relative;
  }
  .fent-bg {
    background: #F1F2F4;
  }
  .login-look h3.py-3 {
     font-weight: 700;
  }
  .blog-holder .blog img {
    width:100%;
    border-radius: 20px;
  }
  .blog-holder .blog h4 {
    font-size: 18px;
    margin: 10px;
  }
  .blog-holder .blog p {
    color: #878787;
    margin: 0 10px;
   font-size:12px;
  }
  .blog-holder .blog a.learn-more {
    margin: 15px 10px;
    color: #2727D5;
    display: block;
    text-decoration: none;
    font-weight: 600;
  }
  .did-you-know {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px #ccc;
  }
  .did-you-know .header-bg {
    padding: 20px;
  }
  .did-you-know .header-bg h2 span {
    color: #ffffff;
    font-size: 22px;
    display: inline-block;
    margin-top: 20px;
  }
  .did-you-know .header-bg .q-mark-holder img {
    position: absolute;
    right: 10px;
    top: 0;
    max-height: 130px;
  }
  .did-you-know .imppts {
    border-top: 5px solid #ff6a00;
    margin-top: 5px;
    padding: 0 40px 0 65px;
    min-height: 500px;
  }
  .did-you-know .imppts li:first-child {
    margin-top:20px;
  }
  .did-you-know .imppts li::marker {
      color: #E87422;
  } 
  .did-you-know .imppts li {
    color: #656565;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .back-btn {
    cursor: pointer;
    border-radius: 15px;
  }
  .text-danger.font-weight-bold {
    border: none;
    background-color: rgba(0,0,0,0);
  }
  .slide-holder {
    padding: 15px;
  }
  .slide-holder img {
    max-width: 100%;
    border-radius: 10px;
  }
  .slide-holder .content-holder {
    margin: 15px 0 30px 0;
  }
  .slide-holder .content-holder b {
    color: #E87422;
  }
  