<div class="otp-card">
  <div class="text-center mb-4">
    <h4 class="fw-bold">Forgot Password</h4>
  </div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 mt-4">
        <label for="email" class="form-label">Email ID <span class="required"></span></label>
        <input id="email" formControlName="email" type="text" class="form-control" [ngClass]="{
                'error-border':
                  forgotPasswordForm.get('email')?.touched &&
                  forgotPasswordForm.get('email')?.invalid
              }" placeholder="Enter Email ID" />
        @if(forgotPasswordForm.get('email')?.dirty &&
        forgotPasswordForm.get('email')?.invalid) {
        <div class="text-danger">
          @if(forgotPasswordForm.get('email')?.errors?.['required']) {
          <small>Email ID is required.<br /></small>
          } @if(forgotPasswordForm.get('email')?.errors?.['pattern']) {
          <small>{{ Messages.EMAIL_VALIDATION_MSG }}<br /></small>
          }
        </div>
        }
      </div>
      <div class="col-12 mt-4">
        <button type="submit" class="btn btn-danger w-100 rounded-button" [disabled]="forgotPasswordForm.invalid">
          Submit
        </button>
      </div>

      <div class="text-center mt-3">
        <button type="button" class="btn text-link back-btn" (click)="goBack()">
          Back to login
        </button>
      </div>
    </div>

  </form>
</div>
<app-toaster></app-toaster>
<app-loader></app-loader>