<div class="modal fade" id="detailsPopup" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">User Details</h4>
        <button #btnCloseUserPopup class="btn-close" (click)="closePopup()" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="id" />

          <div class="mb-3">
            <label for="emailAddress" class="form-label">Email Address <span class="required"></span></label>
            <input type="emailAddress" class="form-control" id="emailAddress" formControlName="emailAddress"
              placeholder="Enter emailAddress ID" [ngClass]="{
                'error-border':
                  userForm.get('emailAddress')?.touched &&
                  userForm.get('emailAddress')?.invalid
              }" />

            @if(((userForm.get('emailAddress')?.dirty ||
            userForm.get('emailAddress')?.touched) &&
            userForm.get('emailAddress')?.invalid)) {
            <div class="text-danger">
              @if(!userForm.get('emailAddress')?.errors){
              <small>A user with this emailAddress already exists.<br /></small>
              } @if(userForm.get('emailAddress')?.errors?.['required']) {
              <small>emailAddress ID is required.<br /></small>
              } @if(userForm.get('emailAddress')?.errors?.['pattern']) {
              <small>{{ Messages.EMAIL_VALIDATION_MSG }}<br /></small>
              }
            </div>
            }
          </div>

          <div class="mb-3 d-flex">
            <div>
              <label for="firstName" class="form-label">First Name <span class="required"></span></label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter Name"
                (change)="trimAllFields()" [ngClass]="{
                'error-border':
                  userForm.get('userName')?.touched &&
                  userForm.get('userName')?.invalid
              }" />
              @if((userForm.get('firstName')?.dirty ||
              userForm.get('firstName')?.touched) &&
              userForm.get('firstName')?.invalid) {
              <div class="text-danger">
                @if(userForm.get('firstName')?.errors?.['required']) {
                <small>Name is required.<br /></small>
                } @else if(userForm.get('firstName')?.errors?.['pattern']) {
                <small>Invalid firstName<br /></small>
                }
              </div>
              }
            </div>
            <div>
              <label for="lastName" class="form-label">Last Name <span class="required"></span></label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Name"
                (change)="trimAllFields()" [ngClass]="{
                'error-border':
                  userForm.get('lastName')?.touched &&
                  userForm.get('lastName')?.invalid
              }" />
              @if((userForm.get('lastName')?.dirty ||
              userForm.get('lastName')?.touched) &&
              userForm.get('lastName')?.invalid) {
              <div class="text-danger">
                @if(userForm.get('lastName')?.errors?.['required']) {
                <small>Name is required.<br /></small>
                } @else if(userForm.get('lastName')?.errors?.['pattern']) {
                <small>Invalid lastName<br /></small>
                }
              </div>
              }
            </div>
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">UserName <span class="required"></span></label>
            <input type="text" class="form-control" id="userName" formControlName="userName"
              placeholder="Enter userName" (change)="trimAllFields()" [ngClass]="{
                'error-border':
                  userForm.get('userName')?.touched &&
                  userForm.get('userName')?.invalid
              }" />
            @if((userForm.get('userName')?.dirty ||
            userForm.get('userName')?.touched) &&
            userForm.get('userName')?.invalid) {
            <div class="text-danger">
              @if(userForm.get('userName')?.errors?.['required']) {
              <small>Name is required.<br /></small>
              } @else if(userForm.get('userName')?.errors?.['pattern']) {
              <small>Invalid userName<br /></small>
              }
            </div>
            }
          </div>

          <div class="mb-3">
            <label for="roleId" class="form-label">roleId <span class="required"></span></label>
            <select id="roleId" formControlName="roleId" class="form-select form-control" [ngClass]="{
                'error-border':
                  userForm.get('roleId')?.touched &&
                  userForm.get('roleId')?.invalid
              }">
              <option value="" selected hidden>Select roleId</option>
              @for(roleId of roleList;track $index){
              <!--@if(roleId.name!==ApplicationRoles.Platform_Admin) {-->
              <option value="{{ roleId.id }}" >
                {{ roleId.roleName }}
              </option>
              } <!--}-->
            </select>

            @if((userForm.get('roleId')?.dirty || userForm.get('roleId')?.touched)
            && userForm.get('roleId')?.invalid) {
            <div class="text-danger">
              @if(userForm.get('roleId')?.errors?.['required']) {
              <small>roleId is required.<br /></small>
              }
            </div>
            }
          </div>

          <div class="d-flex justify-content-end">
            <button type="button" (click)="closePopup()" class="btn rounded-button-small me-2" data-bs-dismiss="modal">
              Cancel
            </button>

            <button type="submit" class="btn btn-danger rounded-button rounded-button-small"
              [disabled]="userForm.invalid">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-toaster></app-toaster>