.icon {
  width: 40px;
  height: 40px;
}

.badge {
  font-size: 0.75em;
}

.logo {
  max-height: 30px;
  margin: 0 10px 0 10px;
}

/* Example CSS to style the dropdown and icon */
.dropdown-toggle::after {
  display: none;
}

.fa-user {
  font-size: 1.5rem;
  /* Adjust size */
}


.profile-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2727D5;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  border: 0.5px solid #9d9df5;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-circle span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logout-btn {
  color: #FF7A00;
  opacity: 1;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
}

.logout-btn:hover {
  color: #2727D5;
  opacity: 1;
}

/* .dropdown-menu[_ngcontent-ng-c1236931317] {
  padding: 1px;
} */

/* ------------------ Notification css --------------------- */
.notification-btn {
  position: relative;
}

.notification {
  top: 0;
  padding: 4px;
  font-size: 0.5em;
  border-radius: 50%;
}

.dropdown-menu-notification {
  width: 330px;
  max-height: 400px;
  overflow-y: auto;
  right: 0;
  padding: 0px;
}

.view-all-btn {
  font-size: 14px;
  color: #2727D5;
  font-weight: 600;
}

.view-all-btn:hover {
  color: #2727D5;
}

.view-all-btn:disabled {
  color: gray;
}

.read-notification {
  color: #363636;
  font-weight: 400;
}

.unread-notification {
  font-weight: 600;
  background-color: #F1F2F4;
  color: #363636;
}

small {
  font-size: 10px;
  color: #878787;
}

.unread-notification:hover {
  background-color: #F1F2F4;
}

.notification-item {
  text-decoration: none;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  text-wrap: auto
}

.notification-item:hover {}

.dropdown-divider {
  height: 0;
  margin: auto;
  overflow: hidden;
  border-top: 1px solid var(--bs-dropdown-divider-bg);
  opacity: 1;
}

.top-dropdown-item {
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
}