<div class="main-body">
    <div class="row">
        @if(isSuperAdmin)
        {
        <div class="col-6 pt-2">
            <app-tabulator-grid [tableData]="filteredUserTableData" [columnConfig]="userColumnConfig" [height]="'320px'"
                [paginationSize]="paginationSize" [filterColumns]="filterColumns" [allowCSVExport]="allowCSVExport">
            </app-tabulator-grid>
            
        </div>
        }
        <div class="col-12 pt-2">
            <button class="btn btn-danger rounded-button rounded-button-small" type="button"
                (click)="openDetailPopup('',UserConfig.ACCOUNT)" data-bs-toggle="modal"
                data-bs-target="#configDetailsPopup">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" />
                    <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" />
                </svg>
                Add Account
            </button>
            <button class="btn btn-danger rounded-button rounded-button-small" type="button"
                (click)="openDetailPopup('',UserConfig.RELATION)" data-bs-toggle="modal"
                data-bs-target="#configDetailsPopup">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" />
                    <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" />
                </svg>
                Add Relation
            </button>
            <button class="btn btn-danger rounded-button rounded-button-small" type="button"
                (click)="openDetailPopup('',UserConfig.OCCASION_TYPE)" data-bs-toggle="modal"
                data-bs-target="#configDetailsPopup">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" />
                    <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" />
                </svg>
                Add Occasion Type
            </button>
        </div>
        <div class="col-6 pt-2">
            <app-tabulator-grid [tableData]="filteredAccountTableData" [columnConfig]="accountColumnConfig"
                [height]="'320px'" [paginationSize]="paginationSize" [filterColumns]="filterColumns"
                [allowCSVExport]="allowCSVExport">
            </app-tabulator-grid>
            
        </div>
        <div class="col-6 pt-2">
            <app-tabulator-grid [tableData]="filteredOccasionTypeTableData" [columnConfig]="occasionTypeColumnConfig"
                [height]="'320px'" [paginationSize]="paginationSize" [filterColumns]="filterColumns"
                [allowCSVExport]="allowCSVExport">
            </app-tabulator-grid>
            
            
        </div>
        <div class="col-6 pt-2">
            <app-tabulator-grid [tableData]="filteredRelationTableData" [columnConfig]="relationColumnConfig"
                [height]="'320px'" [paginationSize]="paginationSize" [filterColumns]="filterColumns"
                [allowCSVExport]="allowCSVExport">
            </app-tabulator-grid>
            
        </div>
    </div>
    <app-configuration-details></app-configuration-details>
</div>