img{
    max-height: calc(70vh);
    max-width: calc(70vh);
}

.image-container {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center; /* To center the image horizontally */
}
