table {
  width: 100%;
}

ul.table {
  list-style-type: none;
  padding-left: 0;
}
ul.table li {
  margin-bottom: 10px;
  border: 1px solid #DEE0E5;
  border-radius: 5px;
  overflow: hidden;
}
.notification-row {
  border-radius: 5px;
}

.notification-row, .notification-row div {
  cursor: pointer;
  color: #363636;
  font-weight: normal;
}


.notification-row:hover {
  box-shadow: 0px 0px 4px #cccccc;
}

.notification-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.text-dark {
  font-weight: bold;
  background-color: #F1F2F4;
}

.d-flex {
  width: 100%;
}

.notification-view-more-button {
  color: #2727D5;
  text-decoration: none;
  padding: 10px;
  font: normal normal bold 13px/16px;
  opacity: 1;
}
