.example-coin {
  max-width: 20%;
  padding-top: 5px;
  float: left;
}

.example-note {
  max-width: 40%;
  padding-top: 5px;
  float: left;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

div {
  float: left;
  overflow: hidden;
}