<!-- <div class="main-body">
  <button (click)="currencyCoinDetails('')" class="btn btn-primary rounded-button" data-bs-toggle="modal"
    data-bs-target="#currencyCoinDetailsPopup">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
      <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </svg>
    Add CurrencyCoin
  </button>
  <div class="row pb-2">
    <div class="col-6 col-sm-4 col-lg col-xl">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 4H20L13 13V19L11 20V13L4 4Z" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
      Source/Reason
      <input class="form-control form-control-lg text-dark bg-transparent" type="text" placeholder="Search Something"
        aria-label="Search Something" #searchInput (keyup)="filterGridBySearch($event)" />
      <div></div>
    </div>
  </div>
</div>
  <div class="mb-2">
    <app-tabulator-grid [tableData]="filteredTableData" [columnConfig]="tableColumnConfig" [height]="'320px'"
      [paginationSize]="paginationSize" [filterColumns]="filterColumns" [allowCSVExport]="allowCSVExport">
    </app-tabulator-grid>
  </div>
<app-currency-details></app-currency-details>
<app-confirmation-dialog (outputAction)="handleConfirmResult($event)"></app-confirmation-dialog> -->

<div class="row pb-2">
<div class="col-12">
  <button (click)="currencyCoinDetails('')" class="btn btn-primary rounded-button" data-bs-toggle="modal"
    data-bs-target="#currencyCoinDetailsPopup">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
      <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </svg>
    Add Collection Item
  </button>
</div>
  <div class="col-12">
    <app-tabulator-grid [tableData]="filteredTableData" [columnConfig]="tableColumnConfig" [height]="'320px'"
      [paginationSize]="paginationSize" [filterColumns]="filterColumns" [allowCSVExport]="allowCSVExport">
    </app-tabulator-grid>
  </div>
</div>
<app-currency-details></app-currency-details>
<app-confirmation-dialog (outputAction)="handleConfirmResult($event)"></app-confirmation-dialog>