app-header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* keeps it above other elements */
  background-color: #fff; /* ensure header background doesn't show content behind */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Add top padding to avoid content hiding behind header */
.home-container {
  padding-top: 0px; /* adjust according to your header height */
}
