html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/*Feedback CSS started*/
.fixed-bottom-right {
  position: fixed;
  bottom: 45px;
  right: 10px;
  padding: 10px;
}

.fixed-right-component {
  position: fixed;
  top: 80px;
  bottom: 55px;
  right: 0;
  height: auto;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.scrollable-content {
  height: 100%;
}

.position-relative {
  position: relative;
}

.close-icon {
  position: absolute;
  top: -15px;
  right: -5px;
  font-size: 18px;
  cursor: pointer;
  color: blue;
  display: none;
}

.btn:hover .close-icon {
  display: block;
}

.bread-crumb a{
  text-decoration: none;
  font-size: 14px;
}

.mail-icon{
  text-decoration:none; 
  color:white;
}

.notification-text {
  font-size: 12px;
  margin: 5px 0;
}

.welcome-text{
  font-size: 14px;
  margin-bottom: 0;
}
/*Feedback CSS End*/

.close-button {
  border: none;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  align-self: flex-end;
  background: none;
}

.close-button:hover {
  color: #d90f0f; /* Optional: change color on hover */
}

.alert-box {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 30px;
  background-color: #eaf2ff;
  border: 1px solid #4a90e2;
  border-radius: 6px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  width: fit-content;
}

.home-container{
  margin: 10px;
}