<div class="main-body">
  <button (click)="currencyCoinDetails('')" class="btn btn-primary rounded-button" data-bs-toggle="modal"
    data-bs-target="#currencyCoinDetailsPopup">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
      <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </svg>
    Add Collection Item
  </button>

  <button (click)="currencyCoinGallery()" class="btn btn-primary rounded-button">
    Gallery
  </button>
  <div class="row pb-2">
    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
      <div appearance="outline">
        <label>Search</label>
        <input #searchInput (input)="filterGridSearchText($event)"
          class="form-control form-control-lg text-dark bg-transparent" />
      </div>
    </div>
  </div>
</div>
<div class="row pb-2">

  <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 mb-2">
    <app-tabulator-grid [tableData]="filteredSummaryTableData" [columnConfig]="summaryTableColumnConfig"
      [height]="'320px'" [paginationSize]="paginationSize" [allowCSVExport]="allowCSVExport">
    </app-tabulator-grid>
  </div>
  <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-6 mb-2">
    @if(filteredTableData.length){
    @if(showGrid){
    <app-tabulator-grid [tableData]="filteredTableData" [columnConfig]="tableColumnConfig" [height]="'320px'"
      [paginationSize]="paginationSize" [allowCSVExport]="allowCSVExport">
    </app-tabulator-grid>
    }
    @if(showGallery){
  <div class="d-flex flex-wrap">
    @for(coin of filteredTableData; track $index){
    <div [ngClass]="coin.isNote ? 'note-image' : 'coin-image'">
      <img [src]="basePath + coin.imagePath" alt="Currency Image" class="img-fluid" />
    </div>
    }
    </div>
    }

    }

  </div>
  <app-currency-details></app-currency-details>
  <app-confirmation-dialog (outputAction)="handleConfirmResult($event)"></app-confirmation-dialog>