.change-pwd-box {
    width: 100%;
    max-width: 700px
}

.change-pwd-heading {
    color: rgb(72, 69, 69);
    width: 100%;
    margin-left: 12px;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
    color: rgb(72, 69, 69);
}

.close-button i {
    font-size: 1.2rem;
}

.close-button:hover {
    color: #ff0000;
    transform: scale(1.1);
}

.close-button:active {
    color: #242444;
    transform: scale(0.95);
}

.rounded-button-small:hover {
    border: 1px solid rgb(198, 195, 195);
}

.rounded-button-small:active {
    border: 1px solid rgb(185, 182, 182);
    background-color: rgb(243, 238, 238);
}

.the-btn {
    border: 1px solid rgb(233, 228, 228);
}