<!-- @if(globalService.isPermitted([ApplicationRoles.Client_Representative])) { -->
<div class="container mt-4">
  <div class="d-flex justify-content-center align-items-center public-page-bg mt-4 mb-4">
    <div class="card p-4 shadow-lg mt-4 mb-5 change-pwd-box">
      <div class="mb-4">
        <div class="d-flex justify-content-between change-pwd-heading">
          <h4 class="mx-auto">Change Your Password</h4>
          <!-- <button class="close-button" (click)="navigateToHome()">
            <i class="bi bi-x-lg"></i>
          </button> -->
        </div>
        @if(hasPasswordExpired) {
        <div class="notification-banner">
          <div class="d-flex justify-content-between ">
            <span class="mx-auto">
              Your current password has expired, please change the password.
            </span>
          </div>
        </div>
        }
      </div>

      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <!-- <div class="form-group mb-4 px-4">
                        <div class="input-group password-input">
                            <span class="readonly-field"></span>
                            <input tabindex="1" id="emailInput" placeholder="Enter email" type="email"
                                class="form-control btn-right" value="{{ email }}" readOnly />
                        </div>
                    </div> -->

        <div class="form-group mb-4 px-4">
          <label for="oldPassword" class="form-label">
            Current Password <span class="required"></span>
          </label>
          <div class="input-group password-input">
            <button type="button" class="btn-left btn-outline-primary">
              <img src="assets/icons/lock.png" />
            </button>
            <input tabindex="2" [type]="hideOldPassword ? 'password' : 'text'" id="oldPassword"
              formControlName="oldPassword" class="form-control btn-middle" placeholder="Enter Current Password" />
            <button type="button" class="btn-right" (click)="hideOldPassword = !hideOldPassword">
              <i [class]="hideOldPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
          </div>
          @if((changePasswordForm.get('oldPassword')?.dirty ||
          changePasswordForm.get('oldPassword')?.touched) &&
          changePasswordForm.get('oldPassword')?.invalid) {
          @if(changePasswordForm.get('oldPassword')?.errors?.['required']) {
          <span class="text-danger validation-msg">Input required.<br /></span>
          } }
        </div>

        <div class="form-group mb-4 px-4">
          <label for="newPassword" class="form-label">
            New Password <span class="required"></span>
          </label>
          <div class="input-group password-input">
            <button type="button" class="btn-left btn-outline-primary">
              <img src="assets/icons/lock.png" />
            </button>
            <input tabindex="2" [type]="hideNewPassword ? 'password' : 'text'" id="newPassword"
              formControlName="newPassword" class="form-control btn-middle" placeholder="Enter New Password" />
            <button type="button" class="btn-right" (click)="hideNewPassword = !hideNewPassword">
              <i [class]="hideNewPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
          </div>
          @if((changePasswordForm.get('newPassword')?.dirty ||
          changePasswordForm.get('newPassword')?.touched) &&
          changePasswordForm.get('newPassword')?.invalid) {
          @if(changePasswordForm.get('newPassword')?.errors?.['required']) {
          <span class="text-danger validation-msg">Input required.<br /></span>
          }
          <ul class="text-danger validation-msg">
            @if(changePasswordForm.get('newPassword')?.errors?.['minlength']) {
            <li>{{ getPasswordLengthMessage() }}<br /></li>
            } @if(changePasswordForm.get('newPassword')?.errors?.['pattern']) {
            <li>{{ Messages.PASSWORD_MUST_INCLUDE_MSG }}<br /></li>
            }
            @if(changePasswordForm.get('newPassword')?.errors?.['nameContains']){
            <li>{{ Messages.PASSWORD_MUST_NOT_INCLUDE_MSG }}<br /></li>
            } @if(changePasswordForm.get('newPassword')?.errors?.['sameAsOld'])
            {
            <li class="text-danger validation-msg">
              {{ Messages.OLD_NEW_PASSWORD_SAME }}<br />
            </li>
            }
          </ul>
          }
        </div>

        <div class="form-group mb-4 px-4">
          <label for="confirmPassword" class="form-label">
            Confirm New Password <span class="required"></span>
          </label>

          <div class="input-group password-input">
            <button type="button" class="btn-left btn-outline-primary">
              <img src="assets/icons/lock.png" />
            </button>
            <input tabindex="2" [type]="hideConfirmPassword ? 'password' : 'text'" id="confirmPassword"
              formControlName="confirmPassword" class="form-control" placeholder="Re-enter New Password" />
          </div>
          @if((changePasswordForm.get('confirmPassword')?.dirty ||
          changePasswordForm.get('confirmPassword')?.touched) &&
          changePasswordForm.get('confirmPassword')?.invalid) {
          @if(changePasswordForm.get('confirmPassword')?.errors?.['required']) {
          <span class="text-danger validation-msg">Input required.<br /></span>
          } @else if(changePasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']) {
          <ul class="error-list">
            <li class="text-danger validation-msg">
              Passwords do not match. Please re-enter the same password.
            </li>
          </ul>
          } }
        </div>

        <div class="mx-4 d-flex justify-content-end gap-2">
          @if(!hasPasswordExpired) {
          <button type="button" class="btn rounded-button-small the-btn" (click)="navigateToHome()">
            Cancel
          </button>
          }

          <button type="submit" class="btn btn-danger rounded-button float-right"
            [disabled]="changePasswordForm.invalid || processing">
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- } -->
<app-loader></app-loader>
<app-toaster></app-toaster>