<div class="main-body">
  @if(globalService.isAccessible(ActionConstant.ADD)){
  <button (click)="openDetailsPopup('')" class="btn btn-primary rounded-button">
    <i class="fa fa-plus"></i>
    Add Occasion
  </button>
  }
  <button (click)="refreshData()" class="btn btn-primary rounded-button">
    <i class="fa fa-refresh"></i> Refresh data
  </button>

  <div class="row pb-2">
    <div class="col-4 col-md-3 col-lg pt-2">
      <div appearance="outline" class="form-field">
        <label>Select Month</label>
        <button
          class="form-select form-control form-control-lg text-dark bg-transparent styled-select scrollable-button text-start"
          type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          {{ lableForMonthDropDown }}
        </button>

        <ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownMenuButton">
          <li>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="selectAll" (change)="toggleAllMonthCheck($event)"
                [checked]="selectedMonths.length === monthList?.length" />
              <label class="form-check-label" for="selectAll">All</label>
            </div>
          </li>
          @for(item of monthList;track $index){
          <li>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" [id]="item.listItemName"
                [checked]="selectedMonths.includes(item.listItemName)"
                (change)="toggleMonthCheck($event, item.listItemName,item.sequenceNumber )" />
              <label class="form-check-label" [for]="item.listItemName">
                {{ item.listItemDescription }}
              </label>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-4 col-md-3 col-lg  pt-2">
      <div appearance="outline" class="form-field">
        <label>Occasion Type</label>
        <button
          class="form-select form-control form-control-lg text-dark bg-transparent styled-select scrollable-button text-start"
          type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          {{ lableForOccasionTypeDropDown }}
        </button>

        <ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownMenuButton">
          @if(occasionTypeList?.length > 0)
          {
          <li>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="selectAll"
                (change)="toggleAllOccasionTypeCheck($event)"
                [checked]="selectedOccasionType.length === occasionTypeList?.length" />
              <label class="form-check-label" for="selectAll">All</label>
            </div>
          </li>
          }
          @else{
          <li class="text-center p-2 text-muted">Please add from settings</li>
          }
          @for(item of occasionTypeList;track $index){
          <li>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" [id]="item.description"
                [checked]="selectedOccasionType.includes(item.description)"
                (change)="toggleOccasionTypeCheck($event, item.configurationName, item.id)" />
              <label class="form-check-label" [for]="item.description">
                {{ item.configurationName }}
              </label>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-4 col-md-3 col-lg  pt-2">
      <div appearance="outline" class="form-field">
        <label>Relation Type</label>
        <button
          class="form-select form-control form-control-lg text-dark bg-transparent styled-select scrollable-button text-start"
          type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          {{ lableForRelationTypeDropDown }}
        </button>

        <ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownMenuButton">
          @if(relationList?.length > 0)
          {
          <li>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="selectAll" (change)="toggleAllRelationCheck($event)"
                [checked]="selectedRelationType.length === relationList?.length" />
              <label class="form-check-label" for="selectAll">All</label>
            </div>
          </li>
          }
          @else{
          <li class="text-center p-2 text-muted">Please add from settings</li>
          }
          @for(item of relationList;track $index){
          <li>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" [id]="item.description"
                [checked]="selectedRelationType.includes(item.description)"
                (change)="toggleRelationCheck($event, item.description, item.id)" />
              <label class="form-check-label" [for]="item.description">
                {{ item.configurationName }}
              </label>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-8 col-md-3 col-lg  pt-2">
      <div appearance="outline">
        <label>Search</label>
        <input #searchInput (input)="filterGridSearchText($event)"
          class="form-control form-control-lg text-dark bg-transparent"
          placeholder="Type something to filter the records" />
      </div>
    </div>

    <div class="col-4 col-md-3 col-lg  pt-2">
      <section class="checbox-section">
        <div class="form-check1 form-check-inline pt-4">
          <div class="date-filters">
            <div class="task-container">

              <!-- Parent Checkbox -->
              <label>
                <input type="checkbox" [(ngModel)]="task.completed" (change)="toggleAll()">
                {{ task.name }}
              </label> &nbsp;
              @if(!displayDay){
              <i class="fa fa-plus" (click)="displayDay=true"></i>
              }
              @else{
              <i class="fa fa-minus" (click)="displayDay=false"></i>
              }
              @if(displayDay){
              <!-- Subtasks -->
              <div class="subtasks">
                <div *ngFor="let sub of task.subtasks; let i = index">
                  <label>
                    <input type="checkbox" [(ngModel)]="sub.completed" (change)="onSubtaskChange()">
                    {{ sub.name }}
                  </label>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
@if(filteredTableData.length === 0){
<div class="alert alert-info text-center mt-3" role="alert">
  <strong>No special occasion found.</strong><br />
  You can add your relatives'/friends'/colligues' etc. birthdays/Anniversaries etc.<br>
  Click Add Occasion to add new special occasion.
</div>
}
@else{
<div class="mb-2">
  <app-tabulator-grid [tableData]="filteredTableData" [columnConfig]="columnConfig" [height]="'320px'"
    [paginationSize]="paginationSize" [filterColumns]="filterColumns" [allowCSVExport]="allowCSVExport"
    [isLoading]="isGridLoading" [loadingText]="'Loading days...'" [allowPrint]="allowPrint">
  </app-tabulator-grid>
</div>
}
<app-day-details></app-day-details>

<app-confirmation-dialog (outputAction)="handleConfirmResult($event)"></app-confirmation-dialog>
<app-toaster></app-toaster>
<button id="openDetailsButton" type="button" data-bs-toggle="modal" data-bs-target="#detailsPopup"
  style="display:none"></button>