.dropdown-menu.options-menu {
  display: block;
  position: absolute !important;
  top: 100% !important;
  left: 0;
  z-index: 9999 !important;
  min-width: 150px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s;
}

.dropdown-menu.options-menu.show {
  visibility: visible;
  opacity: 1;
}