<div class="d-flex flex-row align-items-center">
  <!-- Chart Options Outside Canvas -->
<div class="chart-options">
<h1>Bar Chart</h1>
  <div class="legend">
    <div class="legend-item">
      <span class="legend-color income"></span> Income
    </div>
    <div class="legend-item">
      <span class="legend-color expense"></span> Expense
    </div>
  </div>
  </div>
   
</div>
<div class="chart-container">
  <div class="chart-scroll">
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="'bar'"
      [style.width.px]="barChartWidth"
      height="400"
    >
  </canvas>
  </div>
</div>
