<div class="otp-card">
    <div class="text-center mb-4">
        <h4 class="fw-bold">Sign In to FMS Collection</h4>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <div class="row">
            <div class="col-12 mt-4">
                <input type="text" formControlName="userName" class="form-input form-control"
                    placeholder="Enter User Name" required="required">
            </div>
            <div class="col-12 mt-4">
                <input type="text" formControlName="password" class="form-input form-control password-text p4"
                    placeholder="Enter Password" required="" />
            </div>
            <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary rounded-button " id="BtnLogin">Login</button>
                <button type="button" class="btn btn-primary rounded-button"
                    (click)="navigate(NavigationURLs.CURRENCY_LIST)">Continue Without Login</button>
            </div>
            <div class="text-center mt-3">
                <button type="button" class="btn text-link back-btn"
                    (click)="navigate(NavigationURLs.FORGOT_PASSWORD)">Forgot Password</button>
                    | 
                <button type="button" class="btn text-link back-btn"
                    (click)="navigate(NavigationURLs.SIGNUP)">New Here, Sign Up</button>
            </div>
        </div>
    </form>
</div>
<app-toaster></app-toaster>