<div class="modal fade modal-md" id="expenseDetailsPopup" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Expense</h4>
                <button #btnCloseExpenseDetailsPopup class="btn-close" (click)="closePopup()"
                    data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="expenseDetailsForm" (ngSubmit)="submitExpenseDetails()">
                    <div>

                        <div style="display: none;">
                            <p>expenseId</p>
                            <input formControlName="expenseId">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label> Choose a date</label>
                                <input id="expenseDate" class="form-control form-control-lg text-dark bg-transparent"
                                    type="date" placeholder="DD/MM/YYYY" appearance="outline"
                                    formControlName="expenseDate" />
                            </div>

                            <div class="col-6">
                                <label>Source or reason</label>
                                <input type="text" placeholder="Type something" aria-label="Source and reasons" matInput
                                    class="form-control form-control-lg text-dark bg-transparent"
                                    formControlName="sourceOrReason" (input)="onSourceReasonChange($event)"
                                    (focus)="focusInSource=true" (focusout)="focusOutSource()">
                                @if(filteredSourceOrReasonList?.length > 0 && focusInSource){
                                <ul class="list-group suggestion-list">
                                    @for(option of filteredSourceOrReasonList;track $index){
                                    <li class="list-group-item list-group-item-action"
                                        (click)="selectSourceOrReason(option)">
                                        {{ option }}
                                    </li>
                                    }
                                </ul>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>SBI Account</label>
                                <input formControlName="sbiAccount"
                                    class="form-control form-control-lg text-dark bg-transparent"
                                    (keydown)="validateAmount($event)">
                            </div>
                            <div class="col-6">
                                <label>Cash</label>
                                <input formControlName="cash" (keydown)="validateAmount($event)"
                                    class="form-control form-control-lg text-dark bg-transparent">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>CBI Account</label>
                                <input formControlName="cbiAccount" (keydown)="validateAmount($event)"
                                    class="form-control form-control-lg text-dark bg-transparent">
                            </div>
                            <div class="col-6">
                                <label>Other Amount</label>
                                <input formControlName="otherAmount" (keydown)="validateAmount($event)"
                                    class="form-control form-control-lg text-dark bg-transparent">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Purpose </label>
                                <input type="text" placeholder="Type something" aria-label="purpose" matInput
                                    formControlName="purpose" (input)="onPurposeChange($event)"
                                    class="form-control form-control-lg text-dark bg-transparent"
                                    (focus)="focusInPurpose=true" (focusout)="focusOutPurpose()">
                                @if(filteredPurposeList?.length > 0 && focusInPurpose){
                                <ul class="list-group position-absolute w-50 mt-0 overflow-auto"
                                    style="max-height: 300px; overflow-y: auto;">
                                    <!-- <ul class="list-group position-absolute w-50 mt-0"> -->
                                    @for(option of filteredPurposeList;track $index){
                                    <li class="list-group-item list-group-item-action" (click)="selectPurpose(option)">
                                        {{ option }}
                                    </li>
                                    }
                                </ul>
                                }
                            </div>
                            <div class="col-6">


                                <label>Description </label>
                                <textarea formControlName="description" (input)="onDescriptionChange($event)"
                                    (focus)="focusInDescription=true" (focusout)="focusOutDescription()"></textarea>
                                @if(filteredDescriptionList?.length > 0 && focusInDescription){
                                <ul class="list-group position-absolute w-50 mt-0 overflow-auto"
                                    style="max-height: 300px; overflow-y: auto;">
                                    @for(option of filteredDescriptionList;track $index){
                                    <li class="list-group-item list-group-item-action"
                                        (click)="selectDescription(option)">
                                        {{ option}}
                                    </li>
                                    }
                                </ul>
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="action d-flex justify-content-end">
                                    <button class="btn btn-secondary rounded-button" type="button"
                                        (click)="closePopup()" data-bs-dismiss="modal"> Cancel</button>
                                    <button class="btn btn-danger rounded-button" type="reset"> Reset</button>
                                    <button class="btn btn-primary rounded-button" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-toaster></app-toaster>