<div class="table-container">
    <h2>Routine Management</h2>
    <table border="1" width="100%" style="border-collapse: collapse;">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Task</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>

        <tr *ngFor="let r of routines">
            <td>
                @if(selectedId === r.id && isEdit){
                <input type="time" [(ngModel)]="r.fromTime">
                }
                @else{
                {{ dateUtils.amPmFormat(r.fromTime)}}
                }
            </td>
            <td>
                @if(selectedId === r.id && isEdit){
                <input type="time" [(ngModel)]="r.toTime">
                }
                @else{
                {{ dateUtils.amPmFormat(r.toTime) }}
                }
            </td>
            <td>
                @if(selectedId === r.id && isEdit){
                <input type="text" [(ngModel)]="r.task">
                }
                @else{
                {{ r.task }}
                }
            </td>
            <td>{{ calculateDuration(r.fromTime, r.toTime) }}</td>
            <td class="d-flex gap-2 justify-content-center">
                @if(selectedId === r.id && isEdit){
                <button (click)="save(r)">
                    💾{{ isEdit ? '' : '' }}
                </button>
                <button class="reset" (click)="reset()"><i class="bi bi-reset"></i>Reset</button>
                }
                @else{
                <button class="edit" (click)="edit(r)"><i class="bi bi-pencil"></i></button>
                }
                <button class="delete" (click)="delete(r.id!)"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    </table>

    <br>
    <table>
        <tr>
            <td>
                <input type="time" placeholder="From Time" [(ngModel)]="model.fromTime"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
            <td>
                <input type="time" placeholder="To Time" [(ngModel)]="model.toTime"
                    class="form-control form-control-lg text-dark bg-transparent">

            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Task" [(ngModel)]="model.task"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td colspan="2" class=" pt-3">
                <button (click)="save(model)">
                    {{ isEdit ? 'Update' : 'Add' }}
                </button>
                <button class="reset" (click)="reset()">Clear</button>
            </td>
        </tr>
    </table>
</div>
<app-toaster></app-toaster>