<!-- <div class="row">
  <div class="col-5 col-sm-6 col-md-6 col-lg-2 col-xl-3 results-info">
    <p [innerHtml]="tableUtils.paginationCountingMessage"></p>
  </div>
  <div
    class="form-field d-flex col-7 col-sm-6 col-md-6 col-lg-4 col-xl-4 justify-content-md-end justify-content-end pb-2 items-per-page"
  >
    <label for="pageSizeSelect">Items per page:</label>
    <select
      id="pageSizeSelect"
      (change)="tableUtils.onItemsPerPageChange($event, moduleName)"
      class="form-select w-50 form-select-sm"
      style="height: 35px"
    >
      @for(size of tableUtils.pageSizeOptions;track size) {
      @if(size===tableUtils.paginationStatus.itemsPerPage) {
      <option [value]="size" selected>{{ size }}</option>
      } @else {
      <option [value]="size">{{ size }}</option>
      } }
    </select>
  </div>
  <div
    class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 d-flex justify-content-end pagination-number"
    style="z-index: 0"
  >
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li>
          <button
            class="page-link"
            title="Go to first page"
            [disabled]="tableUtils.isDisabledPrevBtn"
            (click)="tableUtils.pageChange(1, filteredDataSource)"
          >
            <img
            src="assets/icons/arrow-first.svg"
            class="page-link"
              alt="Prev"
            />
          </button>
        </li>

        <li>
          <button
            class="page-link"
            title="Go to previous page"
            [disabled]="tableUtils.isDisabledPrevBtn"
            (click)="tableUtils.previousPage(filteredDataSource)"
            
          >
            <img
            src="assets/icons/arrow-prev.svg"
            class="page-link"
              alt="Prev"
            />
          </button>
        </li>

        @if(tableUtils.paginationStatus.totalPages >= 1){
        <li [class.active]="tableUtils.paginationStatus.selectedPage === 1">
          <button
            class="page-link" 
            (click)="tableUtils.pageChange(1, filteredDataSource)"
          >
            1
          </button>
        </li>
        }
        @if(tableUtils.shouldShowLeftEllipsis()){
        <li>
          <span class="page-link">...</span>
        </li>
        }

        @for(page of tableUtils.getPagesToDisplay();track page) {
        <li [class.active]="tableUtils.paginationStatus.selectedPage === page">
          <button
            class="page-link"
            (click)="tableUtils.pageChange(page, filteredDataSource)"
          >
            {{ page }}
          </button>
        </li>
        }

        @if(tableUtils.shouldShowRightEllipsis()){
        <li>
          <span class="page-link">...</span>
        </li>
        }
        @if(tableUtils.paginationStatus.totalPages > 1){
        <li
          [class.active]="
            tableUtils.paginationStatus.selectedPage ===
            tableUtils.paginationStatus.totalPages
          "
        >
          <button
            class="page-link"
            (click)="
              tableUtils.pageChange(
                tableUtils.paginationStatus.totalPages,
                filteredDataSource
              )
            "
          >
            {{ tableUtils.paginationStatus.totalPages }}
          </button>
        </li>
        }

        <li>
          <button
            class="page-link"
            title="Go to next page"
            [disabled]="tableUtils.isDisabledNextBtn"
            (click)="tableUtils.nextPage(filteredDataSource)"
          >
            <img
              src="assets/icons/arrow-next.svg"
              class="page-link"
              alt="Next"
            />
          </button>
        </li>
        <li>
          <button
            class="page-link"
            title="Go to last page"
            [disabled]="tableUtils.isDisabledNextBtn"
            (click)="
              tableUtils.pageChange(
                tableUtils.paginationStatus.totalPages,
                filteredDataSource
              )
            "
          >
            <img
            src="assets/icons/arrow-last.svg"
            class="page-link"
              alt="Next"
            />
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div> -->
