<div class="main-body">
   @if(globalService.isAccessible(ActionConstant.ADD)){
  <button class="btn btn-danger rounded-button rounded-button-small" type="button" (click)="openUserDetailsPopup('')"
    data-bs-toggle="modal" data-bs-target="#detailsPopup">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
      <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </svg>
    Add User
  </button>
     }
       <div class="row pb-2 pt-2">
    <div class="col-6 col-sm-4 col-lg-2 col-xl-2">
      Search
      <input class="form-control form-control-lg text-dark bg-transparent" type="text" placeholder="Search Something"
        aria-label="Search Something" #searchInput (keyup)="filterGridBySearch($event)" />
      <div></div>
    </div>
  </div>

  <div class="row">
    <div class="mb-2">
      <app-tabulator-grid [tableData]="filteredTableData" [columnConfig]="columnConfig" [height]="'320px'"
        [paginationSize]="paginationSize" [filterColumns]="filterColumns" [allowCSVExport]="allowCSVExport">
      </app-tabulator-grid>
    </div>
  </div>
</div>
<app-toaster></app-toaster>
<app-user-details></app-user-details>
<app-confirmation-dialog (outputAction)="handleConfirmResult($event)"></app-confirmation-dialog>