<div
  id="confirmBox"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="confirmBoxLabel"
  aria-hidden="true"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmBoxLabel">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeConfirmPopup(false)"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>

      <div class="d-flex justify-content-end pb-3">
        <button
          type="button"
          class="btn rounded-button me-2"
          (click)="closeConfirmPopup(false)"
        >
          Cancel
        </button>

        <button
          type="button"
          class="btn rounded-button btn-danger me-4"
          (click)="closeConfirmPopup(true)"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
