<!-- Filter Section -->

<div class="table-container">

  <!--@if(tableData && tableData.length) {
  <div class="row">
    <div class="col-12 col-md-1 filter-label">
      <span>Filter:</span>
    </div>

    <div class="col-6 col-md-2 col-lg-2">-->
      <!-- <label for="columnSelect" class="form-label">Column</label> -->
      <!--<select [formControl]="columnControl" class="form-select form-control" id="columnSelect">
        <option value="" selected hidden>Select filter column</option>-->
        <!-- <option value="" selected>Select Filter Column</option> -->
        <!--@for(col of filterColumns;track $index){
        <option value="{{ col.field }}">
          {{ col.title }}
        </option>
        }
      </select>
    </div>

    <div class="col-6 col-md-2 col-lg-2 d-none">-->
      <!-- <label for="typeSelect" class="form-label">Filter Type</label> -->
      <!--<select [formControl]="typeControl" class="form-select form-control" id="typeSelect">-->
        <!-- <option value="" selected>Select Filter Type</option> -->
        <!--<option value="like" selected>Contains</option>-->
        <!-- <option value="=">Equals</option>
        <option value="!=">Not Equals</option>
        <option value="<">Less Than</option>
        <option value=">">Greater Than</option> -->
      <!--</select>
    </div>

    <div class="col-6 col-md-3 col-lg-2">-->
      <!-- <label for="filterValue" class="form-label">Value</label> -->
      <!--<input [formControl]="valueControl" class="form-control" id="filterValue" placeholder="Enter filter value" />
    </div>

    <div class="col-6 col-md-3 col-lg-2 filter-btn">
      <button class="btn btn-outline-warning apply-filter me-3" (click)="clearFilter()">
        <i class="bi bi-x"></i>
        Clear Filter
      </button>
    </div>

    <div class="col-md-2 filter-btn">
      @if(allowCSVExport) { &nbsp;
      <button class="btn btn-danger rounded-button rounded-button-small" (click)="exportTableData()">
        CSV
      </button>
      }
    </div>
  </div>
  }-->
  <div class="row">
    <div class="col-12" #tabulatorGridWrapper id="tabulator-grid-wrapper" class="tabulator-grid-wrapper"></div>
  </div>
</div>