<div class="modal fade modal-lg" id="businessDetailsPopup" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="businessDetailsForm">
        <div class="modal-header">
          <h2 class="modal-title">Add Business</h2>
          <button #btnCloseBusinessDetailsPopup class="btn-close" (click)="closePopup()"
            data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div style="display: none">
            <p>businessId</p>
            <input formControlName="businessId" />
          </div>
          <div class="row mb-4">
            <div class="col-3">
              <label>Business Date</label>
              <input id="dealDate" class="form-control form-control-lg text-dark bg-transparent" type="date"
                placeholder="DD/MM/YYYY" appearance="outline" formControlName="dealDate" [ngClass]="{
                    'error-border':
                      businessDetailsForm.get('dealDate')?.touched &&
                      businessDetailsForm.get('dealDate')?.invalid
                  }" />
              <div class="error-message">
                @if(businessDetailsForm.get('dealDate')?.touched &&
                businessDetailsForm.get('dealDate')?.invalid){
                <div class="text-danger">
                  @if(businessDetailsForm.get('dealDate')?.errors?.['required']){
                  Date is required. }
                </div>
                }
              </div>
            </div>

            <div class="col-3">
              <label>Client Name</label>
              <input type="text" placeholder="Enter Client Name" aria-label="Client Name"
                class="form-control form-control-lg text-dark bg-transparent" formControlName="clientName" [ngClass]="{
                    'error-border':
                      businessDetailsForm.get('clientName')?.touched &&
                      businessDetailsForm.get('clientName')?.invalid
                  }" />
              <div class="error-message">
                @if(businessDetailsForm.get('clientName')?.touched &&
                businessDetailsForm.get('clientName')?.invalid){
                <div class="text-danger">
                  @if(businessDetailsForm.get('clientName')?.errors?.['required']){
                  Client Name is required. }
                </div>
                }
              </div>
            </div>
            <div class="col-3">
              <label>Payment Status</label>
              <select class="form-control form-control-lg text-dark bg-transparent" formControlName="paymentStatus">
                <option value="Pending">Pending</option>
                <option value="Paid Fully">Paid Fully</option>
                <option value="Paid Partially">Paid Partially</option>
                <option value="Advance">Advance</option>
              </select>
            </div>
            <div class="col-3">
              <label>Deal Amount</label>
              <input formControlName="dealAmount" (keydown)="globalService.validateAmount($event)"
                class="form-control form-control-lg text-dark bg-transparent" [ngClass]="{
                    'error-border': businessDetailsForm.get('dealAmount')?.touched &&
                      businessDetailsForm.get('dealAmount')?.invalid
                  }" />
              <div class="error-message">
                @if(businessDetailsForm.get('dealAmount')?.touched && businessDetailsForm.get('dealAmount')?.invalid){
                <div class="text-danger">
                  @if(businessDetailsForm.get('dealAmount')?.errors?.['required']){
                  Deal Amount is required.
                  }
                  @if(businessDetailsForm.get('dealAmount')?.errors?.['min']){
                  Deal Amount must be greater than 0.
                  }
                </div>
                }
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-3">
              <label>Product Name</label>
              <input formControlName="productName" class="form-control form-control-lg text-dark bg-transparent"
                [ngClass]="{
                    'error-border': businessDetailsForm.get('productName')?.touched &&
                      businessDetailsForm.get('productName')?.invalid
                  }" />
              <div class="error-message">
                @if(businessDetailsForm.get('productName')?.touched && businessDetailsForm.get('productName')?.invalid){
                <div class="text-danger">
                  Product Name is required.
                </div>
                }
              </div>
            </div>
            <div class="col-3">
              <label>Quantity</label>
              <input formControlName="quantity" class="form-control form-control-lg text-dark bg-transparent"
                (keydown)="globalService.validateAmount($event)" [ngClass]="{
                    'error-border': businessDetailsForm.get('quantity')?.touched &&
                      businessDetailsForm.get('quantity')?.invalid
                  }" />
              <div class="error-message">
                @if(businessDetailsForm.get('quantity')?.touched && businessDetailsForm.get('quantity')?.invalid){
                <div class="text-danger">
                  @if(businessDetailsForm.get('quantity')?.errors?.['required']){
                  Quantity is required.
                  }
                  @if(businessDetailsForm.get('quantity')?.errors?.['min']){
                  Quantity must be greater than 0.
                  }
                </div>
                }
              </div>
            </div>
            <div class="col-3">
              <label>Unit</label>
              <input formControlName="unit" class="form-control form-control-lg text-dark bg-transparent" [ngClass]="{
                    'error-border': businessDetailsForm.get('unit')?.touched &&
                      businessDetailsForm.get('unit')?.invalid
                  }" />
              <div class="error-message">
                @if(businessDetailsForm.get('unit')?.touched && businessDetailsForm.get('unit')?.invalid){
                <div class="text-danger">
                  Unit is required.
                </div>
                }
              </div>
            </div>
            <div class="col-3">
              <label>Delivery Date</label>
              <input type="date" class="form-control form-control-lg text-dark bg-transparent"
                formControlName="deliveryDate" [ngClass]="{
                    'error-border': businessDetailsForm.get('deliveryDate')?.touched &&
                      businessDetailsForm.get('deliveryDate')?.invalid
                  }" />
              <div class="error-message">
                @if(businessDetailsForm.get('deliveryDate')?.touched &&
                businessDetailsForm.get('deliveryDate')?.invalid){
                <div class="text-danger">
                  Delivery Date is required.
                </div>
                }
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-3">
              <label>Payment date</label>
              <input id="dealDate" class="form-control form-control-lg text-dark bg-transparent" type="date"
                placeholder="DD/MM/YYYY" appearance="outline" formControlName="dealDate" [ngClass]="{
                    'error-border':
                      businessDetailsForm.get('dealDate')?.touched &&
                      businessDetailsForm.get('dealDate')?.invalid
                  }" />
              @if(businessDetailsForm.get('dealDate')?.touched &&
              businessDetailsForm.get('dealDate')?.invalid){
              <div class="text-danger">
                @if(businessDetailsForm.get('dealDate')?.errors?.['required']){
                Date is required. }
                @else if(businessDetailsForm.get('dealDate')?.errors?.['pattern']){
                Invalid Date. }
              </div>
              }
            </div>
            <div class="col">
              <label>Paid Amount</label>
              <input formControlName="cash" (keydown)="globalService.validateAmount($event)"
                class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col">
              <label>Paid By</label>
              <input formControlName="cash" class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col">
              <label>Pending Amount</label>
              <input formControlName="cash" (keydown)="globalService.validateAmount($event)"
                class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col-1">
              <label> &nbsp;</label>
              <button class="btn btn-primary rounded-button" (click)="addBusinessPayment()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                  <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
              </button>

            </div>
          </div> -->
          <div class="row mb-4">
            <div class="col-12">
              <div formArrayName="businessPayments">
                <!-- @for(payment of businessPaymentControls; track $index; let i = $index) {
                <div [formGroupName]="i" class="payment-entry pt-3 pb-3 border rounded row">
                  <div class="col-3">
                    <label>Payment Date</label>
                    <input type="date" class="form-control" formControlName="paymentDate" />
                  </div>
                  <div class="col">
                    <label>Paid Amount</label>
                    <input type="text" class="form-control" formControlName="paidAmount"
                      (keydown)="globalService.validateAmount($event)" />
                  </div>
                  <div class="col">
                    <label>Paid By</label>
                    <input type="text" class="form-control" formControlName="paidBy" />
                  </div>
                  <div class="col">
                    <label>Pending Amount</label>
                    <input type="text" class="form-control" formControlName="pendingAmount" readonly />
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-danger" (click)="removeBusinessPayment(i)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
                } -->
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <label>Business Description</label>
              <textarea formControlName="description" class="form-control form-control-lg text-dark bg-transparent"
                placeholder="Enter business description"></textarea>
            </div>
          </div>
        </div>

        <div class="modal-header mb-4">
          <h2 class="modal-title">Broker</h2>
          <button class="btn-close" (click)="togleBrokerData()"></button>
        </div>
        <div class="modal-body" id="broker-form">

          <div class="row mb-4">
            <div style="display: none">
              <p>brokerId</p>
              <input formControlName="brokerId" />
            </div>
            <div class="col-3">
              <label>Broker Name</label>
              <input type="text" class="form-control form-control-lg text-dark bg-transparent"
                formControlName="brokerName" />
            </div>
            <div class="col-3">
              <label>Broker Amount</label>
              <input type="text" class="form-control form-control-lg text-dark bg-transparent"
                formControlName="brokerPaymentAmount" (keydown)="globalService.validateAmount($event)" [ngClass]="{
                  'error-border': businessDetailsForm.get('brokerPaymentAmount')?.touched &&
                    businessDetailsForm.get('brokerPaymentAmount')?.invalid
                }" />
              <div class="error-message">
                @if(businessDetailsForm.get('brokerPaymentAmount')?.touched &&
                businessDetailsForm.get('brokerPaymentAmount')?.invalid){
                <div class="text-danger">
                  Broker Amount must be greater than or equal to 0.
                </div>
                }
              </div>
            </div>
            <div class="col-3">
              <label>Payment Status</label>
              <input type="text" class="form-control form-control-lg text-dark bg-transparent"
                formControlName="brokerPaymentStatus"[ngClass]="{
                  'error-border': businessDetailsForm.get('brokerPaymentStatus')?.touched &&
                    businessDetailsForm.get('brokerPaymentStatus')?.invalid
                }" />
              <div class="error-message">
                @if(businessDetailsForm.get('brokerPaymentStatus')?.touched &&
                businessDetailsForm.get('brokerPaymentStatus')?.invalid){
                <div class="text-danger">
                  Broker Payment Status.
                </div>
                }
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-3">
              <label>Payment date</label>
              <input id="dealDate" class="form-control form-control-lg text-dark bg-transparent" type="date"
                placeholder="DD/MM/YYYY" appearance="outline" formControlName="dealDate" [ngClass]="{
                    'error-border':
                      businessDetailsForm.get('dealDate')?.touched &&
                      businessDetailsForm.get('dealDate')?.invalid
                  }" />
              @if(businessDetailsForm.get('dealDate')?.touched &&
              businessDetailsForm.get('dealDate')?.invalid){
              <div class="text-danger">
                @if(businessDetailsForm.get('dealDate')?.errors?.['required']){
                Date is required. }
                @else if(businessDetailsForm.get('dealDate')?.errors?.['pattern']){
                Invalid Date. }
              </div>
              }
            </div>
            <div class="col">
              <label>Paid Amount</label>
              <input formControlName="paidAmount" (keydown)="globalService.validateAmount($event)"
                class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col">
              <label>Paid By</label>
              <input formControlName="paidBy" class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col">
              <label>Pending Amount</label>
              <input formControlName="pendingAmount" (keydown)="globalService.validateAmount($event)"
                class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col-1">
              <label> &nbsp;</label>
              <button class="btn btn-primary rounded-button" (click)="addBrokerPayment()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                  <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
              </button>

            </div>
          </div> -->
          <div class="row mb-4">
            <div class="col-12">
              <div formArrayName="brokerPayments">
                <!-- @for(payment of brokerPaymentControls; track $index; let i = $index) {
                <div [formGroupName]="i" class="payment-entry pt-3 pb-3 border rounded row">
                  <div class="col-3">
                    <label>Payment Date</label>
                    <input type="date" class="form-control" formControlName="paymentDate" />
                  </div>
                  <div class="col">
                    <label>Paid Amount</label>
                    <input type="text" class="form-control" formControlName="paidAmount"
                      (keydown)="globalService.validateAmount($event)" />
                  </div>
                  <div class="col">
                    <label>Paid By</label>
                    <input type="text" class="form-control" formControlName="paidBy" />
                  </div>
                  <div class="col">
                    <label>Pending Amount</label>
                    <input type="text" class="form-control" formControlName="pendingAmount" readonly />
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-danger" (click)="removeBrokerPayment(i)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
                } -->
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <label>Broker Description</label>
              <textarea formControlName="brokerDescription"
                class="form-control form-control-lg text-dark bg-transparent"
                placeholder="Enter broker description"></textarea>
            </div>
          </div>
        </div>

        <div class="modal-header mt-4 mb-4">
          <h2 class="modal-title">Driver</h2>
          <button class="btn-close" (click)="togleDriverData()"></button>
        </div>
        <div class="modal-body" id="driver-form">
          <div class="row mb-4">
            <div style="display: none">
              <p>driverId</p>
              <input formControlName="driverId">
            </div>
            <div class="col-3">
              <label>Driver Name</label>
              <input type="text" class="form-control form-control-lg text-dark bg-transparent"
                formControlName="driverName" />
            </div>
            <div class="col-3">
              <label>Driver Amount</label>
              <input type="text" class="form-control form-control-lg text-dark bg-transparent"
                formControlName="driverPaymentAmount" (keydown)="globalService.validateAmount($event)" [ngClass]="{
                  'error-border': businessDetailsForm.get('driverPaymentAmount')?.touched &&
                    businessDetailsForm.get('driverPaymentAmount')?.invalid
                }" />
              <div class="error-message">
                @if(businessDetailsForm.get('driverPaymentAmount')?.touched &&
                businessDetailsForm.get('driverPaymentAmount')?.invalid){
                <div class="text-danger">
                  Driver Amount must be greater than or equal to 0.
                </div>
                }
              </div>
            </div>
            <div class="col-3">
              <label>Payment Status</label>
              <input type="text" class="form-control form-control-lg text-dark bg-transparent"
                formControlName="driverPaymentStatus"[ngClass]="{
                  'error-border': businessDetailsForm.get('driverPaymentStatus')?.touched &&
                    businessDetailsForm.get('driverPaymentStatus')?.invalid
                }" />
              <div class="error-message">
                @if(businessDetailsForm.get('driverPaymentStatus')?.touched &&
                businessDetailsForm.get('driverPaymentStatus')?.invalid){
                <div class="text-danger">
                  Driver Payment Status.
                </div>
                }
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-3">
              <label>Payment date</label>
              <input id="dealDate" class="form-control form-control-lg text-dark bg-transparent" type="date"
                placeholder="DD/MM/YYYY" appearance="outline" formControlName="dealDate" [ngClass]="{
                    'error-border':
                      businessDetailsForm.get('dealDate')?.touched &&
                      businessDetailsForm.get('dealDate')?.invalid
                  }" />
              @if(businessDetailsForm.get('dealDate')?.touched &&
              businessDetailsForm.get('dealDate')?.invalid){
              <div class="text-danger">
                @if(businessDetailsForm.get('dealDate')?.errors?.['required']){
                Date is required. }
                @else if(businessDetailsForm.get('dealDate')?.errors?.['pattern']){
                Invalid Date. }
              </div>
              }
            </div>
            <div class="col">
              <label>Paid Amount</label>
              <input formControlName="paidAmount" (keydown)="globalService.validateAmount($event)"
                class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col">
              <label>Paid By</label>
              <input formControlName="paidBy" class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col">
              <label>Pending Amount</label>
              <input formControlName="pendingAmount" (keydown)="globalService.validateAmount($event)"
                class="form-control form-control-lg text-dark bg-transparent" />
            </div>
            <div class="col-1">
              <label> &nbsp;</label>
              <button class="btn btn-primary rounded-button" (click)="addDriverPayment()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                  <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
              </button>

            </div>
          </div> -->
          <div class="row mb-4">
            <div class="col-12">
              <div formArrayName="driverPayments">
                <!-- @for(payment of driverPaymentControls; track $index; let i = $index) {
                <div [formGroupName]="i" class="payment-entry pt-3 pb-3 border rounded row">
                  <div class="col-3">
                    <label>Payment Date</label>
                    <input type="date" class="form-control" formControlName="paymentDate" />
                  </div>
                  <div class="col">
                    <label>Paid Amount</label>
                    <input type="text" class="form-control" formControlName="paidAmount"
                      (keydown)="globalService.validateAmount($event)" />
                  </div>
                  <div class="col">
                    <label>Paid By</label>
                    <input type="text" class="form-control" formControlName="paidBy" />
                  </div>
                  <div class="col">
                    <label>Pending Amount</label>
                    <input type="text" class="form-control" formControlName="pendingAmount" readonly />
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-danger" (click)="removeDriverPayment(i)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
                } -->
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <label>Driver Description</label>
              <textarea formControlName="driverDescription"
                class="form-control form-control-lg text-dark bg-transparent"
                placeholder="Enter driver description"></textarea>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12 col-sm-12">
              <div class="action d-flex justify-content-end">
                <button class="btn btn-secondary rounded-button" type="button" (click)="closePopup()"
                  data-bs-dismiss="modal">
                  Cancel
                </button>
                <button class="btn btn-danger rounded-button" type="reset">
                  Reset
                </button>
                <!-- <button class="btn btn-primary rounded-button" type="button" (click)="submitBusinessDetails()" [disabled]="businessDetailsForm.invalid"> -->
                  <button class="btn btn-primary rounded-button" type="button" (click)="submitBusinessDetails()" >
                  Save
                </button>
              </div>
            </div>
          </div>
          <!-- {{logInvalidControls(businessDetailsForm)}} -->
        </div>
      </form>
    </div>
  </div>
</div>

<app-toaster></app-toaster>