<div class="row">
  <!-- Chart -->
  <div class="col-8">
    <canvas baseChart [type]="'pie'" [data]="pieChartData" [options]="pieChartOptions">
    </canvas>
  </div>

  <!-- Legend (right side) -->
  <div class="col-4">
    <div class="category-toggle">
      <label class="category-option income" [class.active]="selectedType === 'income'"
        (click)="toggleCategory('income')">
        Income
      </label>
      <label class="category-option expense" [class.active]="selectedType === 'expense'"
        (click)="toggleCategory('expense')">
        Expense
      </label>
    </div>
    <div style="max-height: 400px; overflow-y: auto;">
      <ul style="list-style: none; padding: 0; margin: 0;" class="pt-4">
        @for(label of pieChartData?.labels; track $index) {
        <li style="margin-bottom: 4px;">
          @if(pieChartData != null && pieChartData != undefined && pieChartData.datasets != null &&
          pieChartData.datasets[0].backgroundColor != null) {
          <span [style.background-color]="pieChartData?.datasets[0].backgroundColor[$index]"
            style="display:inline-block;width:15px;height:15px;margin-right:8px;"></span>
          {{ label }}
          <button class="action-buttons" title="Hide" (click)="mergeAsOther(label)"><i class="bi bi-dash-lg btn-link"></i></button>
          }
        </li>
        }
      </ul>
    </div>
  </div>