<div class="table-container">
    <h2>Budget Management</h2>
    <table border="1" width="100%" style="border-collapse: collapse;">
        <tr>
            <th></th>
            <th>Site Name</th>
            <th>Site URL</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let b of credentials">
            <td>
                @if(selectedId === b.id && isEdit){
                <input type="text" placeholder="Site Name" [(ngModel)]="model.siteName"
                    class="form-control form-control-lg" style="width: auto;">
                }
                @else{
                {{ b.siteName }}
                }
            </td>
            <td>
                @if(selectedId === b.id && isEdit){
                <input type="text" placeholder="Site URL" [(ngModel)]="model.siteUrl"
                    class="form-control form-control-lg" style="width: auto;">
                }
                @else{
                {{ b.siteUrl }}
                }
            </td>

            <td>
                @if(selectedId === b.id && isEdit){
                <input type="text" placeholder="User Name" [(ngModel)]="model.userName"
                    class="form-control form-control-lg" style="width: auto;">
                }
                @else{
                {{ b.userName }}
                }
            </td>

            <td class="amount">
                @if(selectedId === b.id && isEdit){
                <input type="password" placeholder="Password" [(ngModel)]="model.password"
                    class="form-control form-control-lg" style="width: auto;">
                }
                @else{

                {{ b.password }}
                }
            </td>
            <td class="d-flex gap-2 justify-content-center">
                @if(selectedId === b.id && isEdit){
                <button (click)="save()">
                    💾{{ isEdit ? '' : '' }}
                </button>
                }
                @else{
                <button class="edit" (click)="edit(b)"><i class="bi bi-pencil"></i></button>
                }
                <button class="delete" (click)="delete(b.id!)"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>
                <input type="text" placeholder="Site Name" [(ngModel)]="model.siteName"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
            <td>
                <input type="text" placeholder="Site URL" [(ngModel)]="model.siteUrl"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="User Name" [(ngModel)]="model.userName"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
            <td>
                <input type="password" placeholder="Password" [(ngModel)]="model.password"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
        </tr>
        <tr>
            <td colspan="2" class=" pt-3">
                <button (click)="save()">
                    {{ isEdit ? 'Update' : 'Add' }}
                </button>
                <button class="reset" (click)="reset()">Clear</button>
            </td>
        </tr>
    </table>
</div>
<app-toaster></app-toaster>