<div class="table-container">
    <h2>Personal Credentials Management</h2>
    <input type="text" placeholder="Search" (keyup)="search($event)" class="form-control form-control-lg mb-2">
    <table border="1" width="100%" style="border-collapse: collapse;">
        <tr>
            <th>Site Name</th>
            <th>Site URL</th>
            <th>Other Detail</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let b of filteredCredentials">
            <td>
                @if(selectedId === b.id && isEdit){
                <input type="text" placeholder="Site Name" [(ngModel)]="model.siteName"
                    class="form-control form-control-lg" style="width: auto;">
                }
                @else{
                {{ b.siteName }}
                }
            </td>
            <td>
                @if(selectedId === b.id && isEdit){
                <input type="text" placeholder="Site URL" [(ngModel)]="model.siteUrl"
                    class="form-control form-control-lg" style="width: auto;">
                }
                @else{
                <a href="{{b.siteUrl}}" target="_blank" title="{{b.siteUrl}}">
                    {{ b.siteUrl | truncate:30}}
                </a>
                }
            </td>
            <td>
                @if(selectedId === b.id && isEdit){
                <input type="text" placeholder="Other detail" [(ngModel)]="model.notes"
                    class="form-control form-control-lg" style="width: auto;">
                }
                @else{
                {{ b.notes }}
                }
            </td>

            <td>
                @if(selectedId === b.id && isEdit){
                <input type="text" placeholder="User Name" [(ngModel)]="model.userName"
                    class="form-control form-control-lg" style="width: auto;">
                }
                @else{
                {{ b.userName }}
                }
            </td>

            <td>
                @if(selectedId === b.id && isEdit){
                <div class="input-group password-input">
                    <input [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
                        [(ngModel)]="model.password" class="form-control form-control-lg btn-left" style="width: auto;">
                    <button tabindex="3" type="button" class="form-control-lg btn-right"
                        (click)="hidePassword = !hidePassword">
                        <i [class]="hidePassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                    </button>
                </div>
                }
                @else
                {
                @if(selectedId === b.id && viewPassword)
                {
                <!-- {{ b.password | passwordPattern }} -->
                {{ b.password }}
                }
                @else{
                {{ '*'.repeat(b.password.length || 0) }}
                }
                }
            </td>
            <td class="d-flex gap-2 justify-content-center">
                @if(selectedId === b.id && isEdit){
                <button (click)="save()">💾</button>
                }
                @else{
                <button (click)="togglePassword(b)"><i
                        [class]="(selectedId === b.id && viewPassword) ? 'bi bi-eye-slash' : 'bi bi-eye' "></i></button>

                <button class="edit" (click)="edit(b)"><i class="bi bi-pencil"></i></button>
                }
                <button class="delete" (click)="delete(b.id!)"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>
                <input type="text" placeholder="Site Name" [(ngModel)]="model.siteName"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
            <td>
                <input type="text" placeholder="Site URL" [(ngModel)]="model.siteUrl"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="User Name" [(ngModel)]="model.userName"
                    class="form-control form-control-lg text-dark bg-transparent">
            </td>
            <td>
                <div class="input-group password-input">
                    <input [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
                        [(ngModel)]="model.password" class="form-control btn-left">
                    <button tabindex="3" type="button" class="btn-right" (click)="hidePassword = !hidePassword">
                        <i [class]="hidePassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                    </button>
                </div>

            </td>
        </tr>
        <td colspan="2">
            <input type="text" placeholder="Other details" [(ngModel)]="model.notes"
                class="form-control form-control-lg text-dark bg-transparent">
        </td>
        <tr>
        </tr>

        <tr>
            <td colspan="2">
                <button (click)="save()">
                    {{ isEdit ? 'Update' : 'Add' }}
                </button>
                <button class="reset ms-2" (click)="reset()">Clear</button>
            </td>
        </tr>
    </table>
</div>
<app-toaster></app-toaster>