<div class="w-100 text-center mb-4 mt-4">
  <img
    src="assets/images/pharmteco-logo-240x84.png"
    alt="Logo"
  />
</div>
<div
  class="d-flex justify-content-center align-items-center public-page-bg mt-4 mb-4"
>
  <div
    class="card p-4 shadow-lg mt-4 mb-5"
  >
    <div class="text-center mb-4">
      <h4 style="color: grey">Hello, {{ personName }}</h4>
      @if(this.isResetPassword) {
      <h5 class="text-orange">Please Reset Your Password</h5>
      } @else {
      <h5 class="text-orange">Welcome to SK pharmteco!</h5>
      } @if(this.isResetPassword) {
      <!-- <p class="fw-bold mx-4">
        For your convenience, we have set-up your account with the following
        details. Please create a password to signup
      </p> -->
      }
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4 px-4">
        <div class="input-group password-input">
          <span class="readonly-field"></span>
          <input
            tabindex="1"
            id="emailInput"
            placeholder="Enter email"
            type="email"
            class="form-control btn-right"
            value="{{ email }}"
            readOnly
          />
        </div>
      </div>

      <div class="form-group mb-4 px-4">
        <label for="password" class="form-label"
          >@if(this.isResetPassword) {New Password } @else{Password }
          &nbsp;<span class="required"></span>
        </label>
       

        <div class="input-group password-input">
          <button
            type="button"
            class="btn-left btn-outline-primary"
            [ngClass]="{
              'error-border-tbl':
                resetPasswordForm.get('password')?.touched &&
                resetPasswordForm.get('password')?.invalid
            }"
          >
            <img src="assets/icons/lock.png" />
          </button>
          <input
            tabindex="2"
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            formControlName="password"
            class="form-control btn-middle"
            placeholder="{{ newPasswordPlaceHolder }}"
            [ngClass]="{
              'error-border-tb':
                resetPasswordForm.get('password')?.touched &&
                resetPasswordForm.get('password')?.invalid
            }"
          />
          <button
            type="button"
            class="btn-right"
            (click)="hidePassword = !hidePassword"
            [ngClass]="{
              'error-border-trb':
                resetPasswordForm.get('password')?.touched &&
                resetPasswordForm.get('password')?.invalid
            }"
          >
            <i [class]="hidePassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
          </button>
        </div>
        @if((resetPasswordForm.get('password')?.dirty||resetPasswordForm.get('password')?.touched)
        && resetPasswordForm.get('password')?.invalid) {
        @if(resetPasswordForm.get('password')?.errors?.['required']) {
        <span class="text-danger validation-msg">Input required.<br /></span>
        }
        <ul class="text-danger validation-msg">
          @if(resetPasswordForm.get('password')?.errors?.['minlength']) {
          <li>{{ getPasswordLengthMessage() }}<br /></li>
          } @if(resetPasswordForm.get('password')?.errors?.['pattern']) {
          <li>{{ Messages.PASSWORD_MUST_INCLUDE_MSG }}<br /></li>
          } @if(resetPasswordForm.get('password')?.errors?.['nameContains']) {
          <li>{{ Messages.PASSWORD_MUST_NOT_INCLUDE_MSG }}<br /></li>
          }
        </ul>
        }
      </div>

      <div class="form-group mb-4 px-4">
        <label for="confirmPassword" class="form-label"
          >Confirm Password <span class="required"></span
        ></label>

        <div class="input-group password-input">
          <button
            type="button"
            class="btn-left"
            [ngClass]="{
              'error-border-tbl':
                resetPasswordForm.get('confirmPassword')?.touched &&
                resetPasswordForm.get('confirmPassword')?.invalid
            }"
          >
            <img src="assets/icons/lock.png" />
          </button>
          <input
            tabindex="3"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control btn-middle"
            placeholder="{{ confirmPasswordPlaceHolder }}"
            [ngClass]="{
              'error-border-tb':
                resetPasswordForm.get('confirmPassword')?.touched &&
                resetPasswordForm.get('confirmPassword')?.invalid
            }"
          />
          <button
            tabindex="4"
            type="button"
            class="btn-right"
            (click)="hideConfirmPassword = !hideConfirmPassword"
            [ngClass]="{
              'error-border-trb':
                resetPasswordForm.get('confirmPassword')?.touched &&
                resetPasswordForm.get('confirmPassword')?.invalid
            }"
          >
            <i
              [class]="hideConfirmPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"
            ></i>
          </button>
        </div>
        @if((resetPasswordForm.get('confirmPassword')?.dirty ||
        resetPasswordForm.get('confirmPassword')?.touched) &&
        resetPasswordForm.get('confirmPassword')?.invalid) {
        @if(resetPasswordForm.get('confirmPassword')?.errors?.['required']) {
        <span class="text-danger validation-msg">Input required.<br /></span>
        } @else if(resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch'])
        {
        <ul class="error-list">
          <li class="text-danger validation-msg">
            Passwords do not match. Please re-enter the same password.
          </li>
        </ul>
        } }
      </div>

      <div class="text-center mx-4">
        <button
          type="submit"
          class="btn btn-danger btn-lg rounded-button w-100"
          [disabled]="resetPasswordForm.invalid"
        >
          @if(this.isResetPassword) {Reset Password} @else{Create a Password}
        </button>
      </div>

      <div class="text-center mt-3">
        <p class="text-muted">
          If this is not you, please contact the
          <a
            class="mail-icon"
            href="mailto:support@Application.com?subject=Need Support: Unauthorized Error&body="
            title="Click here to contact the application admin"
          >
            <a class="text-orange">Support Team</a>.
          </a>
        </p>
      </div>
    </form>
  </div>
</div>

<app-loader></app-loader>
<app-toaster></app-toaster>
